@model IEnumerable<CumulativeProject.Models.Student>
@{
    ViewBag.Title = "List";
}

<h2>List of Students</h2>

@foreach (var student in Model)
{
    <div><a href="Show/@student.StudentId">@student.StudentFirstName @student.StudentLastName</a></div>
}

