@model CumulativeProject.Models.Student
@{
    ViewBag.Title = "Show";
}

<h2>@Model.StudentFullName</h2>
<ul>
    <li>Student Number: @Model.StudentNumber</li>
    <li>Enrol Date: @Model.StudentEnrolDate.ToString("MMMM dd, yyyy")</li>

</ul>
