@model IEnumerable<CumulativeProject.Models.Teacher>
@{
    ViewBag.Title = "List";
}


<nav>
    <a class="navlink" href="/Teacher/New">New Teacher</a>
</nav>
<h2>List of Teachers</h2>
@foreach (var teacher in Model) { 
    <div><a href="Show/@teacher.TeacherId">@teacher.TeacherFirstName @teacher.TeacherLastName</a></div>
}

